%h4 2012 Triple crown winner
= render 'triple_crown_winner',winner: Batting.triple_crown_winner(2012)
%h4 2011 Triple crown winner
= render 'triple_crown_winner',winner: Batting.triple_crown_winner(2011)