%li.nav-menu
  = link_to 'Most Improved batting avg',root_path
%li.nav-menu
  = link_to 'Slugging Percentage',slugging_percentage_path
%li.nav-menu
  = link_to 'Most Improved Fantacy Palyers',most_improved_fantacy_palyers_path
%li.nav-menu
  = link_to 'Triple crown winner',triple_crown_winner_path 